@model AuditManagementPortal.Models.AuditResponse

@{
    ViewData["Title"] = "Audit Response";
}

<h1>Audit Response</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.AuditId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditId)
        </dd>
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.ProjectExecutionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectExecutionStatus)
        </dd>
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.RemedialActionDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemedialActionDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Home">Back to Home</a>
</div>
